{% extends 'shop/layouts/main.html'  %}

{% block title %}
  registerion | shopkart 
{% endblock title %}  
{% block content %}

<section class="bg-light py-4 my-5 style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">cart items</h4>
                <hr style="border-color:#b8bfc2;">    
            </div>
         <table class="table table-bordered">
            <tr>
                <th>image</th>
                <th>product name</th>
                <th>unit</th>
                <th>quantity</th> 
                <th>amount</th> 
                <th>remove</th> 
            </tr>
            {% for item in cart %}
           <tr>
             <td><img src="{{item.product.product_image.url}}" height="75px" alt="{{item.product.name}}"></td>
             <td>{{item.product.name}}</td>
             <td>{{item.product.selling_price | stringformat:'d'}}</td>
             <td>{{item.product_qty}}</td>
             <td class="amt">{{item.total_cost | stringformat:'d'}}</td>
             <td><a href="{% url 'remove_cart' item.id %}" onclick="return confirm('are you sure? to remove')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> remove</button></td>
           </tr> 
             
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"><b>Total Amount</b></td>
            <td id="net">0</td>
            <td><button class="btn btn-primary btn-sm">
              <i class="fa fa-check-circle"></i>check out
            </button></td>
          </tr>
         </table>
</section>
<script>
   const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc, curr) => {
     return acc += Number(curr.textContent)
    }, 0);
    document.getElementById("net").innerHTML="Rs : "+res;

  </script>
{% endblock content %}


  